.reasons {
    padding: 71px 0 65px 0;
}

.reasons .reasons_title {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.reasons .reasons_header {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons .reasons_box {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.reasons .reasons_box .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_box .reasons_decr {
    max-width: 370px;
    height: auto;
}

.reasons_box .reasons_decr .reasons_subTitle{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}
.reasons_box .reasons_decr .reasons_text{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: black;
}
